<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Hello we are  calling from RGM college.</h1>
        <h1>In our college lots of placements place in this year.</h1>
        <h1>Hostel also available lot of facilities are there.</h1>
        <h1>Are u intrested joining to college</h1>
        <a href="{% url 'something:response' %}"><h1>R u intrested to join</h1></a>
    </center>
</body>
</html>